@import '../variables';

.academy {

    h2 {
        font-size: 48px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    h3 {
        font-size: 38px;
        text-align: center;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        line-height: 40px;
    }

    .graduates-hist {
        margin-top: 13px;

        &__total {
            font-family: 'league_gothicregular', sans-serif;
            font-size: 166px;
            line-height: 166px;
            display: inline-block;
            letter-spacing: 3.3px;

        }

        &__title {
            font-family: 'proxima_nova_cn_ltlight', sans-serif;
            font-size: 31px;
            font-weight: 700;
            margin-top: 13px;
            text-transform: uppercase;
            line-height: 39px;
            letter-spacing: 2.3px;
        }

        &__text {
            font-family: 'proxima_nova_cn_ltlight', sans-serif;
            font-size: 14px;
            color: $color-grey;
            max-width: 400px;
            line-height: 17px;
            letter-spacing: 0.4px;
        }

    }

    .graduates {
        margin-top: 104px;

        &__slider {
            margin: 0;
            padding: 0;

            &-container {
                position: relative;
            }

            &-controls {
                position: absolute;
                top: 81px;
                width: 100%;

                [class^='arrow'] {
                    border-radius: 13px;
                    z-index: 10;
                    text-align: center;
                    width: 25px;
                    height: 25px;
                    line-height: 22px;
                    background-color: #fff;
                    border: 1px solid #000;
                    color: #000;
                    font-size: 18px;
                    padding: 0;
                    position: absolute;
                    transition: .5s ease all;
                    cursor: pointer;
                    opacity: .7;

                    &:hover {
                        background-color: #000;
                        color: #fff;
                        border-color: #fff;
                        opacity: 1;
                    }
                }

                .arrow-left {
                    box-sizing: border-box;
                    transform: translateX(-34px);
                    padding-left: 3px;

                    &:before {
                        content: "\f104 ";
                        font-family: FontAwesome;
                        margin-right: 3px;
                    }

                }

                .arrow-right {
                    right: 0;

                    &:before {
                        content: "\f105";
                        font-family: FontAwesome;
                        margin-left: 3px;
                    }

                }

            }

        }

        &__item {
            font-family: 'proxima_nova_cn_ltlight', sans-serif;
            float: left;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;

            &-name {
                font-size: 20px;
                font-weight: bold;
                margin-top: 16px;
                letter-spacing: 1.2px;
                line-height: 24px;
                text-transform: uppercase;
            }

            &-course {
                font-size: 16px;
                margin-top: 15px;
                line-height: 19px;
            }

            &-city {
                font-size: 12px;
                margin-top: 20px;
            }

        }

    }

    .invite {
        margin-top: 116px;

        &__title {
            font-family: 'league_gothicregular' , sans-serif;
            font-size: 62px;
            text-transform: uppercase;
            line-height: 1;
            color: $color-greyText;
            letter-spacing: 3px;
        }

        h3 {
            text-align: left;
            margin-top: 20px;
        }

        &__text {
            margin-top: 28px;
            letter-spacing: 0.3px;
            line-height: 22.9px;
        }

        .citypicker {

            b {
                text-transform: uppercase;
            }

            span {
                font-weight: normal;
            }

        }

    }

    .centers {
        color: #fff;
        text-align: center;
        margin-top: 147px;
        padding-top: 69px;
        padding-bottom: 56px;
        background-image: url('/images/academy-bg-23.svg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: auto 100%;
        
        h3 {
            color: #fff;
        }

        &__text {
            max-width: 560px;
            display: inline-block;
            margin-top: 6px;
            letter-spacing: 0.5px;
            line-height: 23px;
        }

        &__cities {
            display: inline-block;
            margin: 31px 25px 30px;
            line-height: 23px;
            letter-spacing: 0.5px;
        }
    }

    .education-program {
        margin-top: 113px;

        h2 {
            margin-bottom: 52px;
        }

        a {
            display: inline-block;
            font-size: 14px;
            font-family: 'proxima_nova_cn_ltlight', sans-serif;
            letter-spacing: 1px;
            color: #000;
            margin-top: 11px;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }

        }

        &__item {
            margin-bottom: 13px;
        }

    }

    .standards {
        color: #fff;
        
        &__title {
            font-family: 'league_gothicregular' , sans-serif;
            font-size: 20.3vw;
            line-height: 13.6vw;
            white-space: nowrap;
            text-align: center;
            letter-spacing: 0.7vw;
            margin-top: 114px;
            color: #000;
        }
        &__text {
            font-family: 'proxima_nova_cn_ltlight', sans-serif;
            font-size: 16px;
            line-height: 18px;
            margin-top: 13px;
            color: $color-greyText2;

            p {
                margin-bottom: 20px;
            }
        }
        
        h2 {
            color: #fff;
            margin-bottom: 20px;
        }

        .bg-black {
            padding-top: 103px;
            padding-bottom: 64px;
        }

        dl {
            font-size: 16px;

            dd {
                color: $color-greyText2;
            }
        }

        .button {
            width: 100%;
            margin-top: 21px;
        }

        a:not(.button) {
            display: inline-block;
            font-size: 16px;
            font-family: 'proxima_nova_cn_ltlight', sans-serif;
            letter-spacing: 0.3px;
            color: #fff;
            margin-top: 16px;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

    }

    .links {
        margin-top: 71px;

        &__item {
            text-align: center;
        }
    }

}