h1 {
    text-transform: uppercase;
    font-size: em(50);
    line-height: 1.2;

    @media (max-height: 800px) {
        font-size: em(32);
        line-height: 1;
        margin-bottom: rem(22);
    }
    
    @include desktop {
        font-size: em(32);
    }

    @include phablet {
        font-size: em(27);
        line-height: 1;
        margin-bottom: rem(22);
    }

    @include phone {
        font-size: em(16);
    }
}

h2 {
    text-transform: uppercase;
    font-size: em(24);
    line-height: 1.2;

    @media (max-height: 800px) {
        font-size: em(20);
    }
}

.bg {

    &-grey {
        background-color: $color-lightGrey;
    }

    &-black {
        background-color: #000;
    }
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.p-0 {
    padding: 0 !important;
}