$BASE_FONT_SIZE: 16;

@function em($px) {
    @return #{$px / $BASE_FONT_SIZE * 1em};
}

@function rem($px) {
    @return #{$px / $BASE_FONT_SIZE * 1rem};
}

$color-lightGrey: #f5f5f5;
$color-greyText: #E5E5E5;
$color-greyText2: #bebebe;
$color-grey: #808080;


$retina: 2700px;
$desktop: 1024px;
$tablet: 980px;
$phablet: 760px;
$phone: 320px;



@mixin desktop {
    @media screen and (max-width: $desktop) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin phablet {
    @media screen and (max-width: $phablet) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: $phone) {
        @content;
    }
}

@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin portrait {
    @media screen and (orientation: portrait) {
        @content;
    }
}